.style_1{
    display: inline-block; /* 将 a 标签设置为行内块元素，使其支持宽度和高度 */
    color: rgb(5, 65, 15); 
    text-decoration: none; /* 去掉链接下划线 */
    width: 50%;
    height: 8%;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    text-align: center; /* 文字水平居中 */
    line-height: calc(2); /* 文字垂直居中，值等于高度 */
    background-color: rgb(196, 175, 175); /* 添加背景颜色，方便查看效果 */
    position: relative;
}

.style_1:hover {
    color: rgb(178, 12, 255); /* 鼠标悬停时链接文字颜色改变 */
    opacity: 0.5;
}
